Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.

In [1]:
class iterator(object):
	"""docstring for iterator"""
	def __init__(self, n):
		super(iterator, self).__init__()
		self.n = n
		
	def divBySevenAndFive(self):
		for i in range(0, self.n):
			if i % 7 == 0 and i%5 == 0:
				yield i
#driver program
for num in iterator(int(input("Enter a number: "))).divBySevenAndFive():
	print(num)

Enter a number: 100
0
35
70

Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.

In [2]:
for x in range(2,int(input()),2): 
	print(x)

50
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n&gt;1
Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.

In [3]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [4]:
print("Username: ",input("Enter Email: ").split("@")[0])

Enter Email: onkur@gmail.com
Username:  onkur

Define a class named Shape and its subclass Square. The Square class has an init function
which takes a length as argument. Both classes have a area function which can print the area
of the shape where Shape&#39;s area is 0 by default.

In [5]:
class Shape():
  def __init__(self, s):
    self.s = 0
    return self.s * self.s
class Square(Shape):
  def __init__(self, s):
    super().__init__(s)